{% extends 'base.html' %}
{% block content %}
{% for message in get_flashed_messages() %}
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
        {{message}}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
{% endfor %}
    {% if name %}
        <h1>Hello {{name}}</h1>

</script>        
    {% else %}
        <h1>{{ current_user.id }}</h1>
        <h3>Add Patient </h3>
        <br>
        <form action="/patient/add" method = "POST">
            {{ form.hidden_tag() }}
            {{ form.name.label(class="form-label") }}
            {{ form.name(class="form-control") }}
            <br>
            {{ form.email.label(class="form-label") }}
            {{ form.email(class="form-control") }}
            <br>
            {{ form.date.label(class="form-label") }}
            {{ form.date(class="form-control") }}
            <br>
            {{ form.submit(class="btn btn-secondary") }}
        </form>
        <br>
        <table  id="patientRecords">
            <tr>
                <th rowspan="2">Patient ID</th>
                <th rowspan="2">Patient Name</th>
                <th rowspan="2">Patient Email Address</th>
                <th rowspan="2">Date of Last Visit</th>
                <th colspan="2">BaseLine Survey Completion Status</th>
                <th colspan="2">FollowUp 1 Completion Status</th>
                <th colspan="2">FollowUp 2 Completion Status</th>
                <th rowpan="2">New Prescription Treatment Start Date</th>
                <th rowpan="2">Send Invitation/Reminder</th>
                <th rowpan="2">Remove Patient</th> <!--Need to be hidden after baseline-->
                <th rowpan="2">Update Record</th>
            </tr>
            <tr>
                <th>ECP</th>
                <th>Patient</th>
                <th>ECP</th>
                <th>Patient</th>
                <th>ECP</th>
                <th>Patient</th>
            </tr>
            {% for my_patient in my_patients %}
            <tr>
                <td>{{ my_patient.id }}</td>    
                <td>{{ my_patient.name }}</td>
                <td>{{ my_patient.email }}</td>
                <!-- <td>{{ my_patient.date_added }}</td> -->
                <td>{{ my_patient.last_visit_date | datetimeformat  }}</td>

                <!-- BaseLine Status -->
                {% if my_ECP.baseline_survey_completion_status %}
                    <td>{{ my_ECP.baseline_survey_completion_status }}</td>
                {% else %}
                    <td>Not Yet Available</td>
                {% endif %}
                {% if my_patient.baseline_survey_completion_status %}
                    <td>{{ my_patient.baseline_survey_completion_status }}</td>
                {% else %}
                    <td>Not Yet Available</td>
                {% endif %}

                <!-- FollowUp-1 Status -->
                {% if my_ECP.followUp_one_completion_status %}
                    <td>{{ my_ECP.followUp_one_completion_status }}</td>
                {% else %}
                    <td>Not Yet Available</td>
                {% endif %}
                {% if my_patient.followUp_one_completion_status %}
                    <td>{{ my_patient.followUp_one_completion_status }}</td>
                {% else %}
                    <td>Not Yet Available</td>
                {% endif %}

                <!-- FollowUp-2 Status -->
                {% if my_ECP.followUp_two_completion_status %}
                    <td>{{ my_ECP.followUp_two_completion_status }}</td>
                {% else %}
                    <td>Not Yet Available</td>
                {% endif %}
                {% if my_patient.followUp_two_completion_status %}
                    <td>{{ my_patient.followUp_two_completion_status }}</td>
                {% else %}
                    <td>Not Yet Available</td>
                {% endif %}
                
                <!-- New Prescription Start Date -->
                <td>{{ my_patient.new_prescription_treatment_start_date }}</td>

                <!-- Actions -->

            </tr>
            {% endfor %}
        </table>
    {% endif %}
{% endblock %}